node_modules
.expo
.expo-shared
dist
build
web-build
android
ios
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
.env.*
!.env.example
.DS_Store
*.pem
*.p12
*.key
*.crt

# Expo specific
**/expo-dev-client/**/*.android.*
**/expo-dev-client/**/*.ios.*
